.contenedorCuestionario {
  padding: 20px 0 20px 0;
}
.questionBox {
  display: block;
  border: solid 1px #e3e3e3;
  padding: 10px 20px 0px;
  box-shadow: inset 0 0 30px rgba(000,000,000,0.1), inset 0 0 4px rgba(255,255,255,1);
  border-radius: 3px;
  margin: 0 10px;
}.question {
   background: var(--primary-color);
   color: #FFF;
   font-size: 22px;
   padding: 8px 30px;
   font-weight: 300;
   margin: 0 -30px 10px;
   position: relative;
 }
.question:after {
  display: block;
  position: absolute;
  top: 100%;
  width: 9px;
  height: 7px;
  content: '.';
  left: 0;
  text-align: left;
  font-size: 0;
}
.question:after {
  left: auto;
  right: 0;
  background-position: -10px 0;
}
.question:before, .question:after {
  background: black;
  display: block;
  position: absolute;
  top: 100%;
  width: 9px;
  height: 7px;
  content: '.';
  left: 0;
  text-align: left;
  font-size: 0;
}

.answerList {
  margin-bottom: 15px;
}

ol, ul {
  list-style: none;
}
.answerList li:first-child {
  border-top-width: 0;
}

.answerList li {
  padding: 3px 0;
}
.answerList label {
  display: block;
  padding: 6px;
  border-radius: 6px;
  border: solid 1px #dde7e8;
  font-weight: 400;
  font-size: large;
  cursor: pointer;
  font-family: Arial, sans-serif;
}
input[type=checkbox], input[type=radio] {
  margin: 4px 0 0;
  margin-top: 1px;
  line-height: normal;
}
.questionRow {
  background: #dee3e6;
  margin: 0 -20px;
  padding: 10px 20px;
  border-radius: 0 0 3px 3px;
}
.button, .greyButton {
  background-color: #f2f2f2;
  color: #888888;
  display: inline-block;
  border: solid 3px #cccccc;
  vertical-align: middle;
  text-shadow: 0 1px 0 #ffffff;
  line-height: 27px;
  min-width: 160px;
  text-align: center;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 0px;
  text-transform: capitalize;
}
.questionRow span {
  float: right;
  display: inline-block;
  line-height: 30px;
  border: solid 1px #aeb9c0;
  padding: 0 10px;
  background: #FFF;
  color: #007fbe;
}

.respuestasCuestionario{
  background: #dee3e6;
  border-radius: 25px;
  padding: 30px 15px 60px 15px;
  margin: 30px 0px 30px 0px;
}

.respuestaResultado{
  text-align: center;
  font-size:xx-large;
  color: var(--primary-color);
  padding: 10px 0px 20px 0px;
}
.answer{
  border-radius: 15px;
  margin-bottom: 20px;
}
.pregunta{
  padding: 5px 0px 5px 15px;
}